.main {
  background-color: rgb(155, 212, 235);
  
  align-items: center;
}
.register {
  width: 50% !important;

  
}



.pwd {
  width: 40% !important;
}

.formDemo {
  padding-bottom: 10px;
  
  padding-top: 10px;
}

@media screen and (max-width: 570px) {
  .register {
    width: 60% !important;
  }
}


@media screen and (min-device-width: 320px) and (max-device-width: 800px) {
  .row {
    display: inline-block !important;
  }
}

