.main{
  background-color: pink;
}

.register {
  width: 50% !important;
  
background-color:  rgb(155, 212, 235);
}

.selectDemo {
  width: 100%;
  height: 30px;
}

.pwd {
  width: 80% !important;
}

.formDemo {
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}
